{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["module-resolver", {
      "alias": {
        "^antd/(.+)":       "./node_modules/\\0",
        "^lib/(.+)":        "./\\0",
        "^pages/(.+)":      "./\\0",
        "^components/(.+)": "./\\0"
      }
    }],
    "lodash"
  ]
}